<div id="15012x01_930698675_1392104279" ondblclick="javascript:playById(this.id)" class="video"><img class="snapshot" src=""></img><span class="record_when">2014-02-11T15:37:59</span></div>
<div id="15012x01_477193214_1392102216" ondblclick="javascript:playById(this.id)" class="video"><img class="snapshot" src=""></img><span class="record_when">2014-02-11T15:03:36</span></div>
<div id="15012x01_153151836_1392101296" ondblclick="javascript:playById(this.id)" class="video"><img class="snapshot" src=""></img><span class="record_when">2014-02-11T14:48:16</span></div>
